@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: rgb(14, 1, 1);
  border: 0;
  margin: 0;
  width: 60px;
  height: 25px;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: rgb(0, 204, 156);
  border-radius: 10px;
}

button:hover {
  color: #04c;
}
.App {
  display: flex;
  flex-direction: row-reverse;
}

.notes {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.notesHeader {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.notesHeader h1 {
  margin: 0;
}

.notesSection {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}

.singleNote {
  padding: 25px;
  cursor: pointer;
}

.noteTitle {
  display: flex;
  justify-content: space-between;
}

.singleNote button {
  color: crimson;
}

.singleNote p {
  margin: 10px 0;
}

.singleNote small {
  display: block;
  color: #999;
}

.singleNote:hover {
  background: #ddd;
}

.singleNote.active,
.singleNote.active small {
  background: darkkhaki;
  color: black;
  border-radius: 50px;
}

.mainApp {
  width: 70%;
  height: 100vh;
  background-color: darkkhaki;
}
.selectbutton {
  border-radius: 40px;
  margin-left: 3px;
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.selectbutton:focus {
  color: #171e29;
}

.selectbutton:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.selectbutton:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
}

.noteEdit,
.notePreview {
  height: 50vh;
}

.noActiveNote {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}


.noteEdit {
  padding: 25px;
}

.noteEdit input,
textarea {
  border-radius: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  
    resize: none;
}

select {
    border: none;
      overflow: auto;
      outline: none;
    
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    
      resize: none;
}

.input{
  background-color: rgb(248, 248, 248);
  border-radius: 40px;
}

.noteEdit input {
  height: 50px;
  font-size: 2rem;
}

.previewTitle {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.textPreview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

.noteTitleContent {
  display: flex;
}

.inputSearch {
  text-align: center;
  background-color: rgb(163, 245, 230);
  border-radius: 50px;
  width: 96%;
  padding: 10px 0 10px 10px;
  margin:0 0px 15px 15px;
  border: none;
    overflow: auto;
    outline: none;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}